# Django Secrets
SECRET_KEY=your-django-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,yourproductiondomain.com

# Database Configuration (Leave empty to use local SQLite)
# DATABASE_URL=postgres://user:password@localhost:5432/dbname

# CORS Settings (Placeholders for production)
CORS_PROD_ORIGIN=https://your-frontend-prod-domain.vercel.app
